
h1
{
	color: green;
	text-align: center;
	font-size: 45px;
	font-family: cinzel;
}

.row{
	width:100%;
	float:left;
	padding: 10px;
}

.col-sm-4{
	width:40%;
	border:10px;
	text-indent: 50px;
	font-size: 20px;
	font-family: sans-serif;
	float:left;
}

img{
	size: 50%;
}

.cindent
{
	#text-indent: 100px;
}

article{
	border: 3px solid navy;
	margin: 30px;	
	background-color: rgba(180, 150, 255, 0.5);
	font-size: 25px;
	font-family: sans-serif;
	padding: 20px 40px 20px 20px;
}
a{
	font-size: 30px;
	color: white;
}
li{
	display: inline;
	padding: 0px 50px 0px 50px;
	background: grey;
	border: 1px solid black;
	margin: 30px;	
	padding: 20px 40px 20px 20px;
	}
img{
	
	border-radius: 80px;
}
	}
@vmedia screen and (max-device-width: 480px) {
h1 { fdont-size: 1.2em;
}






}





