
h1
{
	text-align: center;
}
padding{
	text-align: center;
}
p{
	text-align: left;
}

img{
	background-size: cover;
}

a{
	color: white;
	font-size: 25px;
}

img{
	border: 7px solid black;
	border-radius: 20px;
}
li{
	display: inline;
	padding: 0px 50px 0px 50px;
	background: grey
	
	
	;
	}

	
	
	
	
	
	
	
	
	
	
	
	
	
projects{
	display: inline;
	padding: 0px 30px 0px 30px;
	background: white;
}
<script></script>
$ ("button") .on("click"; function ()
{
	alert ("clicked")
});




