
h1
{
	color: green;
	text-align: center;
	font-size: 40px;
	font-family: cinzel;
}

h2{
	color: green;
	text-align: left;
	text-indent: -4px;
	font-size: 25px;
	font-family: cinzel;
}
.face {
	width:70%;
	position: relative;
	left: 80px;
}

.row{
	width:120%;
	float:left;
	padding: 20px;
}

.col-sm-4{
	width:40%;
	position: relative;
	left:10px;
	border:10px;
	text-align: left-side;
	text-indent: 50px;
	line-height: 30px;
	font-size: 20px;
	font-family: sans-serif;
	float:left;
}

article{
	width: 100%;
	border: 3px solid navy;
	margin: 30px;	
	background-color: rgba(180, 150, 255, 0.5);
	font-size: 25px;
	font-family: sans-serif;
	padding-left:40px;
	padding-right: 40px;
	text-align: justify;
}
a{
	font-size: 20px;
	color: white;
}
li{
	display: inline;
	padding: 0px 50px 0px 50px;
	background: grey;
	border: 1px solid black;
	margin: 20px;	
	padding: 20px 40px 20px 20px;
	}
img{
	
	border-radius: 50px;
	border: 1px solid black;
}
.tricolor{
	width: 30%;
	position: relative;
	left: 500px;
}
#social-buttons button {
	color: green;
	font-size: 18px;
	margin: 10px;
}
p{
	font-family: sans-serif;
	font-size: 20px;
	position: relative;
	left: 60px;
}
.social{
	position: relative;
	left: 50px;
}
	
@vmedia screen and (max-device-width: 480px) {
h1 { font-size: 1.2em;
}
.col-sm-4{ font-size: 1.2 em;
}





